body{
font-family: Arial;
margin:40px;
}

textarea{

width:600px;
height:150px;
margin-top:10px;

}

button{

padding:10px 20px;
margin-top:10px;

}

table{

border-collapse:collapse;
margin-top:20px;
width:600px;

}

th,td{

border:1px solid #ccc;
padding:8px;
text-align:center;

}

thead{

background:#f2f2f2;

}

tfoot{

background:#e6ffe6;
font-weight:bold;

}

.sectionRow{
display:flex;
gap:40px;
align-items:flex-start;
flex-wrap:wrap;
}

.section{
flex:1;
min-width:450px;
}

.tableBlock{
margin-bottom:40px;
}
